<nav class="navbar is-primary is-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-logo">
            <%= link_to "#", class: "navbar-logo"  do %>
              <%= image_tag "navlogo.png"%>
            <% end %>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <%= link_to "Login", new_user_session_path, class: "button is-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
