<% content_for :meta_title, "#{@subscription.company_name} is on #{DEFAULT_META["subscriptify"]}" %>
<% content_for :meta_description, @subscription.description %>
<%# content_for :meta_image, cl_image_path(@subscription.photo.path) %>

<h1>Susbscriptions#show</h1>
<p>Find me in app/views/susbscriptions/show.html.erb</p>
