<h1>Estadísticas de Suscripciones</h1>

<%= column_chart [["Upcoming Expenses", @upcoming_expenses]] %>

<h2>Gasto Promedio Mensual por Categoría</h2>
<%= pie_chart @average_expenses_by_category.map { |category, average| [category, average.to_f.round(2)] } %>

<h2>Gastos de Este Mes por Categoría</h2>
<%= pie_chart @current_month_expenses_by_category %>
