
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('background-image.webp');
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 3em;
  color: #333;
}

/* Estilos para las secciones de contenido */
.section {
  padding: 50px 0;
}

.section h2 {
  font-size: 2em;
  color: #333;
}

.section p {
  font-size: 1.2em;
  color: #666;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
}
