.introduction-screenshot {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.metrics-screenshot {
  width: 100%; // Establece el ancho al 100%
  height: auto; // Ajusta la altura automáticamente para mantener la proporción
  margin-bottom: 20px; // Agrega un margen inferior
}
