/* Estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: rgba(142, 68, 173, 0.9);
}

/* Estilos para el hero */
.hero {
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('background-image.png');
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

button.hero-btn {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background-color: rgba(142, 68, 173, 0.9);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}

.box {
  margin: 10px 10px;
}
.box-1{
  align-self: flex-start;
  width: 50%;
}

.box-2{
  float: right;
  width: 50%;
  display: block;
  min-height: 100%;
}

blockquote {
  background-color: #f9f5fb;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.col-8 {
  width: 66%;
  float: left;
  margin-inline-start: 0%;
}

.col-4 {
  width: 33%;
  text-align: center;
  float: right;
  margin-top: 25px;
}

/* Estilos para el pie de página */
#main-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

#main-footer a {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  display: block;
}

#main-footer a:hover {
  color: #8e44ad;
}

#main-footer ul {
  list-style: none;
  padding: 0;
}

#main-footer li {
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  padding: 0px 5px;
}

.show-footer a {
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  color: black;
}
.show-footer a:hover {
  color: #8e44ad;
}
.show-footer .btn {
  margin-left: 20px;
}
