<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We are contacting you to notify that your email address is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We are contacting you to notify that your email address has been changed to <%= @resource.email %>.</p>
<% end %>

