<p>¡Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactamos para notificarte que tu correo electrónico está siendo cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactamos para notificarte que tu correo electrónico ha sido cambiado a <%= @resource.email %>.</p>
<% end %>
