<p>¡Hello <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a una cantidad excesiva de intentos de inicio de sesión fallidos.</p>

<p>Haz click en el enlace a continuación para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
